* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Primary */
:root {
  --green-color: hsl(75, 94%, 57%);
}

/* Neutral */
:root {
  --white-color: hsl(0, 0%, 100%);
  --grey-color: hsl(0, 0%, 20%);
  --dark-grey-color: hsl(0, 0%, 12%);
  --off-black-color: hsl(0, 0%, 8%);
}

body {
  background-color: var(--off-black-color);
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 74vh;
  min-height: 70vh;
  width: 24%;
  min-width: 20%;
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  border-radius: 10px;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 20%;
  width: 20%;
  border-radius: 50%;
  padding: 35px 0;
}

.social-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 600;
  padding-bottom: 10px;
}

#location {
  color: var(--green-color);
  font-weight: 600;
  padding-bottom: 26px;
}

.bio {
  font-weight: 400;
  padding-bottom: 16px;
}

span {
  padding: 15px 0;
  margin: 7px 0;
  width: 120%;
  background-color: var(--grey-color);
  border-radius: 7px;
}
.social-link {
  font-weight: 700;
  text-align: center;
}

.social-link:last-of-type {
  padding-bottom: 10px;
}
